h2{
    font-size: 20px;
    color: #010202;
}
.page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background:#205081;
    text-align: center;
}
.logout{
   margin-top: -10px;
   text-align:right;
   background:#205081;
   left: 0
}

.left{
    background: #2d3741;
    width: 180px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 62px;
    z-index: 99;
    overflow-y: scroll;
}
.main{
    margin-left: 180px;
    height: 100%;
    width: 86.7%;
    position: absolute;
    top: 63px;
    bottom: 0;
}
th{
    font-weight: bold;
    text-align:center;
    background:#31b0d5 ;
    white-space: nowrap;
    height:30px;font-size: 90%
}
td{
    background: #e1f5ff;
    white-space: nowrap;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 90%;
    height: 30px;

}

.table tr:hover td
{
    background:#d0e9c6;
}
table tr td a:visited{
    color: blue;
     text-decoration:none;
}
table tr td a:link{
    color: blue;
    text-decoration:none;
}
.pages ul{
  list-style:none;
  margin:0;
}
.pages li{
  display: inline;
}
input{
        border: 1px solid #ccc;
        padding: 4px 0px;
        border-radius: 3px; /*css3属性IE不支持*/
}

ul li a:hover{
    transform: scale(1.2);
}