<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static',filename='js/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{{ url_for('static',filename='css/util.css') }}"></script>
    <meta charset="UTF-8">
    <title>接口增加</title>
</head>
<body>
<form  class="form-horizontal"  action="CaseInterfaceSave" method="post" class="form">
                 <br/>
                      <input type="hidden" class="form-control" name='caseName' id="caseName" />
                      <input type="hidden" class="form-control" name='CaseDes' id="CaseDes" />
                      <input type="hidden" class="form-control" name='projects' id="projects" />
                      <input type="hidden" class="form-control" name='caseid' id="caseid" />
                 <div class="form-group">
                    <label class="col-sm-2 control-label" for="InterfaceName">接口名称</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name='InterfaceName' id="URL" value="{{ InterfaceName }}"/>
                	</div>
                </div>


                 <div class="form-group">
                    <label class="col-sm-2 control-label" for="URl">地址</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name='URL' id="URL" value="{{ URL }}"/>
                	</div>
                </div>


                 <div class="form-group">
                    <label class="col-sm-2 control-label" for="requestheader">请求头信息</label>
                     <textarea class="form-control" name='requestheader' id="requestheader" style="width: 50%;margin-left: 18%" >{{ requestheader }}</textarea>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="parameter">请求参数</label>
                    <textarea class="form-control" name='parameter' id="parameter" style="width: 50%;margin-left: 18%" placeholder="目前仅支持输入Raw参数，例如：id=1&url=www.baidu.com">{{ p }}</textarea>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="transaction_way">传输方式</label>
                    	<select  class="form-control"  name="transaction_way" id='transaction_way' style="width: 50%;margin-left: 18%">
                      <option value ="GET">GET</option>
                      <option value ="POST">POST</option>
		            </select>
                </div>
                   <div class="form-group">
                    <label for="bool_redict"  class="col-sm-2 control-label">跟随重定向</label>

                   <select  class="form-control" name="bool_redict" id='bool_redict' style="width: 50%;margin-left: 18%">
                      <option value ="是">是</option>
                      <option value ="否">否</option>
		            </select>
                </div>
                   <div class="form-group">
                    <label class="col-sm-2 control-label" for="jurge">断言</label>
                    <textarea class="form-control" name='jurge' id="jurge" style="width: 50%;margin-left: 18%">{{ jurge }}</textarea>
                </div>

                <button  style="margin-left: 17%" type="submit" class="btn btn-success">保存</button>
                <button  type="button" class="btn btn-success" onclick="javascript:window.opener.ParentCaseInterShow();window.close();">关闭</button>
</form>
<script type="text/javascript">
       $(document).ready(function() {
           $("#caseName").val(window.opener.document.getElementById('Casename').value);
           $("#CaseDes").val(window.opener.document.getElementById('CaseDes').value);
           $("#projects").val(window.opener.document.getElementById('projects').value);
           $("#caseid").val(window.opener.document.getElementById('caseid').value)
       })
</script>
</body>
</html>