{% macro return_page_data(page_data,page_function) %}
    <div class="pages">
        <ul class="page_data">
            <li><a href="{{ url_for(page_function,page = 1) }}">首页</a></li>
            {% if page_data.has_prev %}
              <li><a href="{{ url_for(page_function,page =page_data.prev_num) }}">>«</a></li>
            {% endif %}
            {%for page in page_data.iter_pages()%}
                {% if page%}
                    {% if page !=page_data.page %}
                        <li><a href="{{ url_for(page_function,page = page) }}">{{ page }}</a></li>
                    {% else %}
                         <li class="active"><a href="#">{{ page }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_data.has_next %}
                  <li><a href="{{ url_for(page_function,page = page_data.next_num) }}">»</a></li>
            {% endif %}
                  <li><a href="{{ url_for(page_function,page = page_data.pages) }}">尾页</a></li></li>
        </ul>
    </div>
{% endmacro %}