{% extends "welcome.html" %}

{% block main %}
<form action="user_edit" method="post">
    <table>
    <tr>
            <td> 用户名
            <td>
                {% if userid %}
                  <input type="text" id="username" name="username" class="required" value="{{ Name }}">
                {% else %}
                    <input type="text"  id="username" name="username" class="required">
                {% endif %}
                <span id="User"></span>
            </td>
    </tr>
    <tr>
        <td>密码:</td>
        <td><input id="password" type="password" name="password" class="required" placeholder="Password"></td>
    </tr>
    </table>
    <input type="hidden" name="userid" class="userid" value="{{ userid }}">
    <button type="submit" id="submit">提交</button>
    <button type="button" onclick="javascrtpt:window.location.href='/usermanege'">返回</button>
</form>
    <script type="text/javascript">
     $(document).ready(function() {

         $("form :input.required").each(function(){
            var $required = $("<strong style='color:red' class='high'>*</strong>");
            $(this).parent().append($required);
        });
         $("form :input").blur(function(){
             var $parent = $(this).parent();
            //删除之前的错误提醒信息
            $parent.find(".msg").remove();
            $parent.find("#User").remove();
             if($(this).is("#username")){
                 $('#submit').removeAttr("disabled");
                if($.trim(this.value) == ""){
                    var errorMsg = " 用户名不能为空！";
                    $parent.append("<span style='color:red' class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                         $.post(
                                 '/CheckUserAdd',
                                 {
                                     username: $("input[name=username]").val()
                                 },
                                 function (data, status) {
                                     if (data) {
                                        $parent.append('<span style="color:red" id="User">' + data + '<span>')
                                        $('#submit').attr('disabled',"true");
                                     }
                                 });
                    $parent.find(".high").remove();
                }
             }

             if($(this).is("#password")){
                //运用jQuery中的$.trim()方法，去掉首位空格
                if($.trim(this.value) == ""){
                    var errorMsg = " 密码不能为空！";
                    $parent.append("<span style='color:red' class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                    $parent.find(".high").remove();
                }
             }
         });

         $("form").submit(function(e){
             var numError = $("form .onError").length;
             var highError = $("form .high").length;
            if(numError||highError){
                return false;
            }

         })
     })


    </script>


{% endblock %}