<!-- extend base layout -->
{% extends "welcome.html" %}

{% block main %}
    <span><font style="color:#337ab7;font-weight: bold;font-size: 20px;height:30px;">用户信息</font></span>
    <br>
    <br>
    <div style="background-color: #e1f5ff;padding-top: 0px;height: 40px;text-align: left;">
        <form action="usermanege" method="post" >
         <span><font style='font-size: 15px;height:50px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>用户名</font></span>
                <input   type="text" name="username"  style="background-color: #e1f5ff;value={{ username }}">
          <button class="btn btn-info" type="submit">查询</button>
          <button class="btn btn-info" type="button" onclick="javascrtpt:window.location.href='/user_add'">新增</button>
        </form>
    </div>
    <table class="table table-hover table-condensed table-bordered table table-striped" style="text-align: center;width: 100%">
      <tr>
         <th>序号 </th>
         <th>姓名</th>
          <th>注册时间</th>
         <th colspan="2" >操作</th>
      </tr>
    {% for user in users  %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.user_register_time }}</td>
        <td><a style="color: #0e0e0e" href="{{ url_for('user_edit',id= user.user_id) }}" class="label label-info">编辑</a>  <a href="{{ url_for('user_delete',id= user.user_id) }}" class="label label-info" style="color: #0e0e0e">删除</a></td>
        </tr>
    {% endfor %}
    </table>
    <div class="pages" style="text-align: center;">
        {% if pagination %}
            {% import 'help.html' as helper %}
            {{ helper.return_page_data(pagination,'userpage') }}
        {% endif %}
    </div>

{% endblock %}